language: python
python:
    - "3.6"
    
sudo: false
install:
  - pip install -r requirements.txt

script:
  - python ./oshop/manage.py makemigrations
  - python ./oshop/manage.py migrate
  - python ./oshop/manage.py test